<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>Apple Repairs</title>
</head>
<header>
    <h6>APPLE COMPUTER REPAIRS SHOP</h6>
    <nav>
        <div class='buttons'>
            <a id='About us' href="#">About</a>
            <a href="#">Home</a>
            <a id='services' href="#">Services</a>
            <a id='GetInTouch' href="#">Contact</a>
        </div>
    </nav>

    <div class='main-content'>
        <div class="portfolio">
            <div class="portfolio-item medium one"></div>
            <div class="portfolio-item large two"></div>
            <div class="portfolio-item medium three"></div>
            <div class="portfolio-item small four"></div>
            <div class="portfolio-item tall five"></div>
            <div class="portfolio-item wide six"></div>
        </div>
    </div>

</header>

<body>
    <a href="https://api.whatsapp.com/send?phone=+34711040086&text=Hello%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>

    <section id='services-section'>
        <div class='main-area'>

            <div class="img-description">
                <img type='image' class='box' src="/static/macbook1.png">
                <div class='dbox'>
                    <h3>FREE DIAGNOSTIC</h3>
                    <p>We will diagnose and check your laptop free of charge 
                        and will provide a quote for parts and labour to get it fixed.
                        You will be not charged anything should you wish not to continue with repairs
                    </p>
                </div>
            </div>

            <div class="img-description">
                <img type='image' class='box' src="/static/macbook.png">
                <div class='dbox'>
                    <h3>LIQUID DAMAGE/NO POWER ON REPAIRS</h3>
                    <p>We fix motherboards on componnet level meaning
                        we can fix your laptop even after it was liquid damaged
                        or simply stoped to power on one day for no reason.
                        We have state of the art tools to perform those repairs quickly
                        and realiably
                    </p>
                </div>
            </div>

            <div class="img-description">
                <img type='image' class='box' src="/static/imac.png">
                <div class='dbox'>
                    <h3>LAPTOP GRAPHICS CARDS REPAIRS SERVICE</h3>
                    <p>Brand new Graphics Chip Installation available on 
                        all Macbook Laptop Models and iMacs 
                    </p>
                </div>
                <h6 id='Mail'>MAIL IN REPAIRS, COLLECTION AND DELIVERY WITHIN EUROPE VIA COURIER</h6>
            </div>


        </div>
    </section>


    <div class="contact">
        <form id="form">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <input type="email" id="email" name="email" placeholder="example@email.com">

            <textarea id="subject" name="subject" placeholder="Please tell us how we can help you.."
                style="height:200px"></textarea>

            <input id='submit' type="submit" value="Submit">
        </form>
    </div>
    <hr>

    <section id='services-section'>
        <div class='main-area'>

            <div class="img-description">
                <img type='image' class='box' src="/static/macbook1.png">
                <div class='dbox'>
                    <h3>SOME DESCRIPTION HERE</h3>
                    <p>some more description here,
                        some more description here,
                        some more description here
                    </p>
                </div>
            </div>

            <div class="img-description">
                <img type='image' class='box' src="/static/macbook.png">
                <div class='dbox'>
                    <h3>SOME DESCRIPTION HERE</h3>
                    <p>some more description here,
                        some more description here,
                        some more description here
                    </p>
                </div>
            </div>

            <div class="img-description">
                <img type='image' class='box' src="/static/imac.png">
                <div class='dbox'>
                    <h3>SOME DESCRIPTION HERE</h3>
                    <p>some more description here,
                        some more description here,
                        some more description here
                    </p>
                </div>
            </div>


        </div>
    </section>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-thankYou">
            <span class="close">&times;</span>
            <div class="contact">
                <h6>THANK YOU!</h6>
                <h3>WE WILL CONTACT YOU WITHIN 24 HOURS</h3>
            </div>
        </div>
    </div>

    <footer class='footer'>
        <p>Phone: +34 711 040 816 </p>
        <p><a href="mailto:appletsx@gmail.com">appletsx@gmail.com</a></p>
    </footer>

    <script src="static/script.js"></script>
</body>

</html>